
@{
    ViewBag.Title = "Contact";
}

<div class="content contact" id="menu-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contact us</h1>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <form action="#" id="contact_form">
                    <div class="templatemo_textbox"><input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name"></div>
                    <div class="templatemo_textbox"><input name="email" type="text" class="form-control" id="email" placeholder="Your Email"></div>
                    <div class="clear"></div>
                    <div class="templatemo_textareabox">
                        <textarea name="message" class="form-control" id="message" placeholder="Your message ... "></textarea>
                        <div class="clear"></div>
                        <button type="button" class="btn btn-primary">Send Message</button>
                    </div>
                </form>
                <div class="clear"></div>
            </div>
            <div class="col-md-4 col-sm-12 templatemo_address">
                <ul>
                    <li class="fa fa-phone"></li>
                    <li class="text">010-020-0340</li>
                    <li class="fa fa-map-marker"></li>
                    <li class="text">123 Thamine Street, Digital Estate</li>
                    <li class="fa fa-envelope"></li>
                    <li class="text">info@company.com</li>
                    <li class="fa fa-globe"></li>
                    <li class="text"><a href="#">www.company.com</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="templatemo_contactmap">
                    <div id="templatemo_map"></div>
                </div>
            </div>
        </div>
    </div>
</div>
