
@{
    ViewBag.Title = "Index";
}

<div class="content homepage" id="menu-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <div class="slider-caption">
                                    <h2>Responsive Layout</h2>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                                </div>
                                <img src="~/Content/images/slide1.jpg" alt="Slide 1">
                            </li>

                            <li>
                                <div class="slider-caption">
                                    <h2>Portfolio Website</h2>
                                    <p>Fusce convallis enim vitae sagittis mollis. Sed bibendum ultricies dignissim.</p>
                                </div>
                                <img src="~/Content/images/slide2.jpg" alt="Slide 2">
                            </li>

                            <li>
                                <div class="slider-caption">
                                    <h2>Free Templates</h2>
                                    <p>All templates are free to download and use for your personal or commercial websites.</p>
                                </div>
                                <img src="~/Content/images/slide3.jpg" alt="Slide 3">
                            </li>

                            <li>
                                <div class="slider-caption">
                                    <h2>Portfolio Website</h2>
                                    <p>Fusce convallis enim vitae sagittis mollis. Sed bibendum ultricies dignissim.</p>
                                </div>
                                <img src="~/Content/images/slide4.jpg" alt="Slide 4">
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>