
@{
    ViewBag.Title = "Portfolio";
}

<div class="content portfolio" id="menu-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our portfolio</h1>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row templatemo_portfolio">
            <div class="col-md-4 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image01.jpg" alt="gallery 1">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image01.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image02.jpg" alt="gallery 2">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image02.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image03.jpg" alt="gallery 3">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image03.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row templatemo_portfolio">
            <div class="col-md-3 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image04.jpg" alt="gallery 4">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image04.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image05.jpg" alt="gallery 5">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image05.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image06.jpg" alt="gallery 6">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image06.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image07.jpg" alt="gallery 7">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image07.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row templatemo_portfolio">
            <div class="col-md-2 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image08.jpg" alt="gallery 8">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image08.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image09.jpg" alt="gallery 9">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image09.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 templatemo_imagecontrol">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image10.jpg" alt="gallery 10">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image10.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image11.jpg" alt="gallery 11">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image11.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="gallery-item">
                    <img src="~/Content/images/portfolio/image12.jpg" alt="gallery 12">
                    <div class="overlay">
                        <a href="~/Content/images/portfolio/image12.jpg" data-rel="lightbox" class="fa fa-arrows-alt"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
