
@{
    ViewBag.Title = "Service";
}

<div class="content service" id="menu-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Services</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
                <div class="templatemo_icon">
                    <span class="fa fa-flask"></span>
                </div>
                <div class="templatemo_greentitle">Mobile Ready</div>
                <div class="clear"></div>
                <p>Solidity is free responsive template for everyone. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus.</p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
                <div class="templatemo_icon">
                    <span class="fa fa-bug"></span>
                </div>
                <div class="templatemo_greentitle">Fixing Bugs</div>
                <div class="clear"></div>
                <p>Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images used in homepage slider and portfolio section. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus.</p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
                <div class="templatemo_icon">
                    <span class="fa fa-pencil-square-o"></span>
                </div>
                <div class="templatemo_greentitle">HTML5 Coding</div>
                <div class="clear"></div>
                <p>Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus. Ut consequat nisi vel justo. </p>
            </div>
            <div class="col-md-3 col-sm-12 templatemo_servicegap">
                <div class="templatemo_icon">
                    <span class="fa fa-shield"></span>
                </div>
                <div class="templatemo_greentitle">High Quality</div>
                <div class="clear"></div>
                <p>Nam auctor elementum dolor. Donec euismod, justo sed convallis blandit, ipsum erat mattis lectus, vel pharetra neque enim tristique risus. Ut consequat nisi vel justo. </p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Meet our team</h1>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12 templatemo_servicegap">
                <img src="images/member1.jpg" alt="Tracy - Designer">
                <div class="templatemo_email">
                    <a href="#"><div class="fa fa-envelope"></div></a>
                </div>
                <div class="clear"></div>
                <div class="templatemo_teamtext">
                    <div class="templatemo_teamname">
                        <div class="templatemo_teamtitle">Tracy</div>
                        <div class="templatemo_teampost">Designer</div>
                    </div>
                    <div class="templatemo_teamsocial">
                        Find me on:
                        <div>
                            <a href="#"><div class="fa fa-facebook"></div></a>
                            <a href="#"><div class="fa fa-twitter"></div></a>
                            <a href="#"><div class="fa fa-linkedin"></div></a>
                            <a href="#"><div class="fa fa-rss"></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 templatemo_servicegap">
                <img src="images/member2.jpg" alt="service 02">
                <div class="templatemo_email">
                    <a href="#"><div class="fa fa-envelope"></div></a>
                </div>
                <div class="clear"></div>
                <div class="templatemo_teamtext">
                    <div class="templatemo_teamname">
                        <div class="templatemo_teamtitle">Mary</div>
                        <div class="templatemo_teampost">Developer</div>
                    </div>
                    <div class="templatemo_teamsocial">
                        Find me on:
                        <div>
                            <a href="#"><div class="fa fa-facebook"></div></a>
                            <a href="#"><div class="fa fa-twitter"></div></a>
                            <a href="#"><div class="fa fa-linkedin"></div></a>
                            <a href="#"><div class="fa fa-rss"></div></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 templatemo_servicegap">
                <img src="~/Content/images/member3.jpg" alt="service 03">
                <div class="templatemo_email">
                    <a href="#"><div class="fa fa-envelope"></div></a>
                </div>
                <div class="clear"></div>
                <div class="templatemo_teamtext">
                    <div class="templatemo_teamname">
                        <div class="templatemo_teamtitle">Julia</div>
                        <div class="templatemo_teampost">Director</div>
                    </div>
                    <div class="templatemo_teamsocial">
                        Find me on:
                        <div>
                            <a href="#"><div class="fa fa-facebook"></div></a>
                            <a href="#"><div class="fa fa-twitter"></div></a>
                            <a href="#"><div class="fa fa-linkedin"></div></a>
                            <a href="#"><div class="fa fa-rss"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>